@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  max-width: 30rem;
  list-style-type: none;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;
  padding: 1rem;
}

.flame-icon {
  display: inline;
  margin-right: 0.5rem;
}
